
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');


:root{
    --a:0;
}


*{
    margin: 0px;
    padding: 0px;
    font-family: "Nata Sans", sans-serif;
}

.body{
    background-color: #121212;
    color: white;
}

.left{
    width: 27vw;
    padding: 10px;
}

.right{
    width: 100%;
    /* height: 1000px; */
}


.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
    
}
.p-1{
    padding: 10px;
}

.home ul li{
    display: flex;
    width: 20px;
    list-style: none;
    gap: 15px;
    padding-top: 15px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap: 15px;
    padding-top: 1px;
    font-weight: bold;
    align-items: center;
}
.heading h2{
    font-size: 15px;
}

.heading img{
    width: 20px;
}

.footer{
    display: flex;
    font-size: 9px;
    gap: 10px;
    padding: 10px 0px;
    position: absolute;
    bottom: 0;
}

.footer a{
    color: grey;
}

.library{
   min-height: 77vh;
   position: relative;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.hamburger{
    display: none;
}

.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.left .close{
    display: none;
}

.header>* {
    padding: 20px;
}

.spotify-playlists {
    padding: 16px;
    /* height: 82vh; */
    /* font-size: small; */
}
.spotify-playlists h1 {
    padding: 16px;
    /* height: 82vh; */
    /* font-size: small; */
}


.cardcontainer {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    /* justify-content: center; */
  
    max-height: 70vh;
    overflow-y: auto;
}

.card{
    /* border: 2px solid #f92e2e; */
    width: 170px;
    /* height: 319px; */
    padding: 10px;
    border-radius: 7px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: #666666;
    cursor: pointer;
    --a:1;
}

.card >*{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 7px;
}

.play{
    width: 40px;
    height: 40px;
    background-color: #1fdf64;
    border-radius: 50%;
    position: absolute;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 140px;
    right: 21px;
    opacity: var(--a);
    transition: all 1s;
   
}
.signupbtn{
    background-color: rgb(33, 33, 33);
    color: rgb(167, 162, 162);
    font-weight: bold;
    padding: 5px 15px;
    outline: none;
    border: none;
    font-size: 15px;
    cursor: pointer;

    /* opacity: 0.8; */

}

.signupbtn:hover{
    font-size: 1.0rem;
    color: white;
}

.buttons >*{
    margin: 0 12px;
}
.loginbtn{
    background-color: white;
    color: rgb(101, 99, 99);
    border-radius: 20px;
    font-weight: bold;
    padding: 7px;
    width: 70px;
    font-size: 15px;
     /* outline: none; */
    /* border: none; */
     /* font-size: 16px; */
    cursor: pointer;
}

.loginbtn:hover{
    font-weight: bold;
    color: black;
    font-size: 17px;
    /* padding: 11px; */
    
}

/* .left .close{
    display: none;
} */

.playbar{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color: #dad5d5;
    filter: invert(1);
    border-radius: 10px;
    position: fixed;
    bottom: 10px;
    /* width: 100%; */
    padding: 9px;
    width: 69vw;
    min-height: 35px;;
}

.songbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.songlist{
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 44px;
}

.songlist ul{
    padding: 0 12px;
}

.songlist ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 13px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    /* padding: 0 10px; */
    border-radius: 5px;

    

}

.info{
    font-size: 14px;
    width: 344px;
    word-break: break-all;
}
.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 15px;
    width:100px;

}
.playnow img{
    cursor: pointer;
}

.seekbar{
    width: 69vw;
    height: 6px;
    background: black;
    position: absolute;
    bottom: 5px;
    border-radius: 10px;
    margin: 6px;
    cursor: pointer;
    /* background-color: #1fdf64; */
    /* border-radius: 5px;
    position: relative; */
}

.circle{
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0px;
    transition: left 0.5s ease;
}
.songbutton img{
    cursor: pointer;
}

.songinfo{
    color: black;
    padding: 0 10px;
    width: 250px;
}
.songtime{
    color: black;
    padding: 0 10px;
    width: 133px;
}

.player{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.timevol{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 2px; */
    /* cursor: pointer; */
    /* justify-content: space-evenly; */
}
.volume{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 18px;
    cursor: pointer;
    /* align-items: center; */
}
.volume-bar input{
    cursor: pointer;
}


@media (max-width: 1200px) {
    .left{
        background-color: #121212;
        position: absolute;
        left: -140%;
        transition:all .3s;
        z-index: 1;
        width: 370px;
        padding: 0px;
        /* width: 100vw; */
        position: fixed;
        
    }

    .right{
        width: 100vw;
        /* height: 100%; */
    }

    /* .playbar{
        width: 69vw;
    }
    .seekbar{
        width: 100vw;
    } */

    .hamburger{
        display: block;
    }
    .left .close {
        display: flex;
       position: absolute;
       right: 31px;
       top: 25px;
    }

    .playbar{
        width: calc(100vw - 60px);
    }
    .seekbar{
        width: calc(100vw - 60px);
    }
    .card{
        width: 40vw;
    }
    .cardcontainer{
        margin: 0px;
        justify-content: center;
    }
    .play{
        top: 264px;
        /* display: none; */
    }

    .player{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .songinfo,.songtime{
        width: auto;
    }

    .timevol{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }
    .cardcontainer{
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 28vh;
    }
    .playbar{
        right: 25px;
    }
}
    
@media (max-width: 491px){
    .card{
        width: 100%;
    }

    .header>*{
        padding: 0px;
    }

    .buttons>*{
        margin: 0 6px;
    }

    
    .spotify-playlists h1{
        padding: 2px;
    }
    .left{

       
        top: 0;
    }
    
}
